* {
    margin: 0;
    padding: 0;
}
header {
    width: 1340px;
    height: 56px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
}
.Left {
    margin-left: 10px;
}
.busca {
    width: 404px;
    height: 40px;
    margin-left: 230px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.452);
    padding-left: 10px;
}
.search {
    width: 40px;
    height: 38px;
    margin-left: 5px;
    border: solid 1px black;
}
.Right {
    float: right;
    margin-left: 250px;
}
.sidebar {
    width: 218px;
    float: left;
}
.sidebar ul {
    list-style: none;
    margin-left: 40px;
    margin-top: 20px;
}
.content {
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.itens {
    width: 281px;
    height: 261px;

}
